# Global owner
* @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz @edsonsilvestrebento @melifelipub

# Plugin-level ownership
/plugins/mp-developer/ @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz @edsonsilvestrebento @melifelipub
