# Global owner
* @samhermeli @mminestrelli @luiquezada @Harievilozanini @diegomarcuz

# Plugin-level ownership
/plugins/mercadopago/ @samhermeli @mminestrelli @luiquezada @Harievilozanini @diegomarcuz
