# Global owner
* @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz

# Plugin-level ownership
/plugins/mp-developer/ @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz
