# Mercado Pago — Checkout Pro (credenciales de PRUEBA de la app "Mi Checkout Pro")
MP_ACCESS_TOKEN=
MP_CURRENCY_ID=CLP
MP_CURRENCY_DECIMALS=0
MP_PRICE_MULTIPLIER=1000
MP_BACK_URL=http://localhost:3000
MP_STATEMENT_DESCRIPTOR=ACME DEMO
